:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url(../img/home-bg.svg) center no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #e1e1e6;
}

a {
  text-decoration: none;
  color: #e1e1e6;
}

.menu {
  position: absolute;

  display: flex;
  gap: 3.2rem;
  align-items: center;

  padding-left: 7.2rem;
  max-width: 128rem;
  height: 12.2rem;

  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.logo img {
  background-repeat: no-repeat;
}

.menu nav ul {
  display: flex;
  justify-content: start;
  gap: 3.2rem;
  list-style: none;
}

.open-page {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
}

.main-content {
  height: 100%;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #e1e1e6;
}

.main-content button {
  padding: 12px 32px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: transparent;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #ffffff;
}

.main-content button:hover {
  background: #ffffff;
  color: #02799d;
}
